/* ------------------------------------------------- */
/*             color-scheme-green.css                */
/* ------------------------------------------------- */

:root {
  --clr-green-050: rgb( 0,  50, 0);
  --clr-green-080: rgb( 0,  80, 0 );
  --clr-green-110: rgb( 0, 110, 0 );
  --clr-green-140: rgb( 0, 140, 0 );
  --clr-green-170: rgb( 0, 170, 0 );
  --clr-green-200: rgb( 0, 200, 0 );
  --clr-green-230: rgb( 0, 230, 0 );

  --clr-green-name: rgb(0, 128, 0);
  --clr-green-oldsyntax: rgba(0, 255, 0, 1);

  --clr-red-rgb:   rgb(100% 0 0 / 100%);
  --clr-green-rgb: rgb(0 100% 0 / 100%);
  --clr-blue-rgb:  rgb(0 0 100% / 100%);

  --clr-red-hsl:   hsl(  0 100% 50% / 100%);
  --clr-green-hsl: hsl(120 100% 50% / 100%);
  --clr-blue-hsl:  hsl(240 100% 50% / 100%);



  --clr-text-dark: #333;
  --clr-text-light: #eee;
  /* --clr-bg-dark: #ccd5ae; */
  --clr-bg-dark: #6b705c;
  /* --clr-bg-light: #e9edc9; */
  --clr-bg-light: #fefae0;

  --clr-highlight: salmon;
}

body {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

header {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}
main {
  background-color: inherit;
  color: inherit;
}
footer {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

a {
  color: var(--clr-text-light);

  &:hover {
    color: var(--clr-highlight);
    text-decoration-color: var(--clr-highlight);
  }
}

img {
  background-color: var(--clr-text-light);
}

.primary-logo {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

/* -------------------- eof --------------------- */
