/* Google Fonts */
/* ------------ */

/* Inter Sans (Variable) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
h1 {
  font-weight: 800;
  font-style: normal;

  font-size: 3.5rem;
  line-height: 1.2;
}
h2 {
  font-weight: 600;
  font-style: normal;

  font-size: 2rem;
  line-height: 1.3;
}
h3 {
  font-weight: 500;
  font-style: italic;

  font-size: 1.5rem;
  line-height: 1.4;
}
p {
  font-weight: 300;
  font-style: normal;

  font-size: 1rem;
  line-height: 1.5;
}



